.main {
  display: grid;
  grid-template-areas:
    'side-filter main-filter'
    'side-filter main'
    'side-filter pagination';
  grid-area: main;
  gap: 20px;
}

@media (max-width: 1050px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
  }
}
